<app>
  <offcanvas if={currentPage() != 'super-page'} />

  <target />

  <div is="fullscreen-images" />

  <script>
    import {default as config} from '../../.env.js'

    import * as riot from 'riot'
    import {Url} from '@wendig/lib'

    import router from '../lib/Router.instance'
    import DevLanguageSwitch from '../lib/DevLanguageSwitch'

    import NotFound from '../components/NotFound.riot'
    import SimplePage from '../components/SimplePage.riot'
    import StartPage from '../components/StartPage.riot'
    import SuperPage from '../components/SuperPage.riot'
    import TreatyPage from '../components/TreatyPage.riot'

    export default class {
      onBeforeMount() {
        this.router = router
      }

      onMounted(props, state) {
        router.configure({
          prefix: config['FV_STATIC_PREFIX'],
          root: this.root,
          target: this.root.querySelector('target'),
          404: NotFound,
          routes: [
            {pattern: /^$/, component: SuperPage},
            {pattern: /^\/start$/, component: StartPage},
            {
              pattern: /^\/treaties\/(?<id>[0-9]+)$/,
              component: TreatyPage
            },
            {pattern: /^\/page\/(?<pageId>[a-zA-Z0-9_\-]+)$/, component: SimplePage}
          ]
        })

        this.on('route:mounted', () => {
          this.update()
        })

        router.route()

        DevLanguageSwitch.setup(this)
      }

      currentPage() {
        if (!this.router.component) return null

        return this.router.component.name
      }
    }
  </script>  
</app>
