<app>
  <div is="browser" results={state.results} ></div>
  <div is="meta" class="meta" />

  <div data-id="target" class="xml" />

  <script>
    import config from '../../.env.js'
    import search from '../lib/Search.instance'

    import Renderer from '@ieg/qtei/src/lib/Renderer'
    import {renderXmlTo, renderContentTo} from '@ieg/qtei/src/lib/processors'

    import {util} from '@wendig/lib'

    import Browser from './browser.riot'

    const notify = () => {
      return (data) => {
        const notes = data.doc.querySelectorAll('note')
        for (const note of notes) {
          const content = document.createElement('div')
          content.classList.add('body')

          util.replaceContents(content, util.removeContents(note))

          note.append('*')
          note.append(content)
        }
      }
    }

    const guardNull = (data) => {
      if (!data.content) {
        data.content = 'No text content found'
      }
    }

    export default class {
      static components = {Browser}

      onBeforeMount() {

        search.contracts({perPage: 'max', sort: 'date'}).then(data => {
          this.update({results: data})
        })

        this.on('load-doc', event => {
          const data = event.data

          search.contract({id: data.meta.id}).then(teiDoc => {
            const target = this.root.querySelector("[data-id='target']")

            const renderer = new Renderer([
              guardNull,
              notify(),
              renderContentTo("[data-id='target']")
            ])

            window.tei = teiDoc

            renderer.render(teiDoc.body())
          })
        })
      }
    }
  </script>
</app>