<content-renderer>
  <template if={hasCarousel()}>
    <image-carousel
      image-urls={state.imageUrls}
      caption={state['caption']}
    />
  </template>

  <template if={state.doc}>
    <div class="left">
      <div class="xml" data-id="target" />
    </div>
  </template>

  <template if={state.viewerUrl}>
    <div class="ratio ratio-4x3">
      <a class="new-tab" href={state.viewerUrl} target="_blank">
        <svg is="icon" type="external-link"></svg>
      </a>

      <svg is="icon" type="book-open" class="text-primary"></svg>
      <iframe class="d-none d-lg-block" src={toHttps(state.viewerUrl)} />
    </div>
  </template>

  <div class="d-none">
    <div data-id="note-widget">
      <div data-id="content"></div>
    </div>

    <a data-id="note-id">
      <sub data-id="content"></sub>
    </a>
  </div>

  <script>
    import {util} from '@wendig/lib'
    import Renderer from '@ieg/qtei/src/lib/Renderer.js'
    import {imageUrlToRelative} from '../lib/util'
    // import {} from '@ieg/qtei/src/lib/processors.js'

    const notify = (left, selector) => {
      return (data) => {
        const root = data.doc.childNodes[2]
        const selected = root.querySelector(selector)
        if (!selected) return

        const notes = selected.querySelectorAll('note')

        let widgets = []

        for (const note of notes) {
          const id = note.getAttribute('n') || '*'

          let html = `
            <span class="note-widget"><!--
           --><a><sup class="id">${id}</sup></a>
              <div class="bar"></div>
              <div data-id="content" class="content"></div>
            </span>
          `
          const widget = util.createElement(html)
          const content = widget.querySelector("[data-id='content']")
          const a = widget.querySelector('a')
          note.replaceWith(widget)

          const idTag = util.createElement(`<strong>${id}: </strong>`)
          content.append(idTag, note)

          a.addEventListener('click', event => {
            a.scrollIntoView({behavior: 'instant', container: 'nearest'})
          })

          widgets.push(widget)
        }

        window.setTimeout(async () => {
          let previous = null

          for (const widget of widgets) {
            const bar = widget.querySelector('.bar')
            bar.style.left = `${widget.offsetLeft}px`

            if (previous) {
              const a = previous.querySelector("[data-id='content']")
              const b = widget.querySelector("[data-id='content']")

              if (previous && util.nodesAreOverlappingY(a, b)) {
                const brs = util.createElement('<br /><br />')
                a.append(...brs, ...util.removeContents(b))
                await util.requestAnimationFrame()

                continue
              }
            }

            previous = widget
          }

          // do we have to move the footnotes to the bottom of the page?
          // await util.requestAnimationFrame()
          // const sideBar = selected.querySelector('div.content')

          // if (sideBar.scrollHeight > sideBar.clientHeight) {
          //   console.log('scrolling')
          // }
        }, 300)
      }
    }

    export default class {
      onBeforeMount(props, state) {
        state['style'] = props.style
        state['imageUrls'] = []
        state['fsIndex'] = 0

        this.transliterationBM()
        this.editionBM()
        this.facsimileBM()
      }

      transliterationBM() {
        if (this.state['style']['type'] != 'transliteration') return

        this.state['doc'] = this.props.doc
      }

      editionBM() {
        if (this.state['style']['type'] != 'edition') return

        this.state['doc'] = this.props.doc
      }

      facsimileBM() {
        if (this.state['style']['type'] != 'facsimile') return

        const elements = this.props.doc.doc.
          querySelectorAll('*|standOff *|facsimile *|graphic')
        const urls = imageUrlToRelative(
          [...elements].map(e => e.getAttribute('url'))
        )
        this.state['imageUrls'] = urls
        this.state['caption'] = this.t('facsimile')
      }

      onMounted(props, state) {
        const left = this.root.querySelector(".left")
        const target = this.root.querySelector("[data-id='target']")

        if (state['style']['type'] == 'edition' || state['style']['type'] == 'transliteration') {
          const renderer = new Renderer([
            notify(left, "*|div[type='Edition']"),
            notify(left, "*|div[type='Transliteration']"),
            this.renderTo(target, this.t('edition'), "*|div[type='Edition']"),
            this.renderTo(target, this.t('transliteration'), "*|div[type='Transliteration']")
          ])

          renderer.render(props.doc)
        }
      }

      hasCarousel() {
        const type = this.state['style']['type']

        return ['facsimile', 'image'].includes(type)
      }

      toHttps(url) {
        return url.replace(/^http:/, 'https:')
      }

      renderTo(target, title, selector) {
        const translation = this.cap(this.t(title))

        return (data) => {
          const h2 = util.createElement(`<h2 class="mt-7 mb-5">${translation}</h2>`)
          const content = data.doc.childNodes[2].querySelector(selector)

          if (content) {
            target.append(h2, content)
          }

        }
      }
    }
  </script>
</content-renderer>
