<content-renderer>
  <template if={state.imageUrls.length > 0}>
    <div class="glide my-4 mb-5">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li
            each={url in state.imageUrls}
            key={url}
            class="glide__slide"
          >
            <img
              src={url}
              class="d-block mw-100"
            />
          </li>
        </ul>
      </div>

      <a
        class="prev px-3 {isFirst() && 'invisible'}"
        onclick={event => prev(event)}
      >
        <svg is="icon" type="chevrons-left" />
      </a>
      <a
        class="next px-3 {isLast() && 'invisible'}"
        onclick={event => next(event)}
      >
        <svg is="icon" type="chevrons-right" />
      </a>
    </div>
  </template>

  <template if={state.doc}>
    <div class="left">
      <div class="xml" data-id="target" />
    </div>
  </template>

  <template if={state.viewerUrl}>
    <div class="ratio ratio-4x3">
      <a class="new-tab" href={state.viewerUrl} target="_blank">
        <svg is="icon" type="external-link" />
      </a>

      <svg is="icon" type="book-open" class="text-primary" />
      <iframe class="d-none d-lg-block" src={state.viewerUrl} />
    </div>
  </template>

  <script>
    import {util} from '@wendig/lib'
    import Renderer from '@ieg/qtei/src/lib/Renderer.js'
    // import {} from '@ieg/qtei/src/lib/processors.js'
    import Glide from '@glidejs/glide'

    import Icon from './Icon.riot'

    export default class {
      static components = {Icon}
      
      onBeforeMount(props, state) {
        state['style'] = props.doc.meta['styles'][0]
        state['imageUrls'] = []

        this.transliterationBM()
        this.editionBM()
        this.facsimileBM()
        this.imageBM()
        this.printBM()
      }

      transliterationBM() {
        if (this.state['style'] != 'transliteration') return

        this.state['doc'] = this.props.doc
      }

      editionBM() {
        if (this.state['style'] != 'edition') return

        this.state['doc'] = this.props.doc
      }

      facsimileBM() {
        if (this.state['style'] != 'facsimile') return

        const elements = this.props.doc.doc.
          querySelectorAll('*|standOff *|facsimile *|graphic')
        this.state['imageUrls'] = [...elements].map(e => e.getAttribute('url'))
      }

      imageBM() {
        if (this.state['style'] != 'image') return

        const elements = this.props.doc.doc.
          querySelectorAll('*|listBibl *|graphic')
        this.state['imageUrls'] = [...elements].map(e => e.getAttribute('url'))
      }

      printBM() {
        if (this.state['style'] != 'print') return

        window.doc = this.props.doc.doc
        this.state['viewerUrl'] = this.props.doc.doc.
          querySelector("*|div[type='Drucke'] *|ref").getAttribute('target')
      }

      onMounted(props, state) {
        if (state['style'] == 'edition') {
          const target = this.root.querySelector("[data-id='target']")

          const renderer = new Renderer([
            (data) => {
              target.append(
                props.doc.doc.childNodes[2].querySelector("*|div[type='Edition']")
              )
            }
          ])

          renderer.render(props.doc)
        }

        if (state['style'] == 'transliteration') {
          const target = this.root.querySelector("[data-id='target']")

          const renderer = new Renderer([
            (data) => {
              target.append(
                props.doc.doc.childNodes[2].querySelector("*|div[type='Transliteration']")
              )
            }
          ])

          renderer.render(props.doc)
        }

        if (state['style'] === 'facsimile') {
          this.glide()
        }

        if (state['style'] === 'image') {
          this.glide()
        }
      }

      glide() {
        const element = this.root.querySelector('.glide')
        const opts = {
          type: 'slider',
          rewind: false,
          dragThreshold: false,
          peek: {before: 0, after: '250px'},
          gap: '60px',
          perView: 1,
          breakpoints: {
            1280: {
              peek: {before: 0, after: '200px'},
              gap: '40px'
            },
            768: {
              peek: {before: 0, after: '50px'},
              gap: '20px'
            }
          }
        }
        this.state.glide = new Glide(element, opts)
        this.state.glide.mount()
        this.state.glide.go(`=0`)
      }

      isFirst() {
        const glide = this.state.glide
        if (!glide) return true

        return glide.index == 0
      }

      isLast() {
        const total = this.state.imageUrls.length
        if (total == 1) return true

        const glide = this.state.glide
        if (!glide) return false

        return glide.index == total - 1
      }

      prev(event) {
        event.preventDefault()

        this.state.glide.go('<')
        this.update()
      }

      next(event) {
        event.preventDefault()

        this.state.glide.go('>')
        this.update()
      }
    }
  </script>
</content-renderer>