<favorites class="{classes()}">
  <div class="content" if={state.data && state.data.total > 0}>
    <table
      class="table table-borderless table-responsive"
    >
      <tbody>
        <tr each={treaty in state.data.records} class="d-flex">
          <td class="ps-0">
            <watchlist-toggle doc={treaty} />
          </td>
          <td class="title w-100">
            <a
              onclick={event => onTreatyClick(treaty, event)}
              class="text-black text-decoration-none"
            >
              <span class="fw-bolder">{treaty.dateLabel() + ' '}</span>
              | {treaty.meta['title']}
            </a>
          </td>
          <td class="me-0 text-right">
            <style-icons doc={treaty} />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-primary">
    <hr class="mt-0" />
  </div>

  <a onclick={event => toggle(event)}>
    <svg is="icon" type="star" class="active" />
  </a>

  <script>
    import watchlist from '../lib/Watchlist.instance'
    import search from '../lib/Search.instance'
    import WatchlistToggle from './WatchlistToggle.riot'
    import StyleIcons from './StyleIcons.riot'
    import Icon from './Icon.riot'
    import {toTreaty} from '../lib/util'

    export default class {
      static components = {WatchlistToggle, StyleIcons, Icon}

      onBeforeMount() {
        this.on('watchlist-changed', event => this.fetch())
        this.on('offcanvas-opened', event => this.update({offcanvas: true}))
        this.on('offcanvas-closed', event => this.update({offcanvas: false}))
        this.fetch()
      }

      fetch() {
        const ids = watchlist.unpack()
        search.treaties({ids, perPage: 9999}).then(data => {
          this.update({data})
        })
      }

      onTreatyClick(treaty, event) {
        event.preventDefault()

        toTreaty(treaty)
        this.emit('close-offcanvas')
      }

      toggle(event) {
        if (event) event.preventDefault()

        this.update({expanded: !this.state.expanded})
      }

      classes() {
        let results = []

        if (this.state.expanded) {
          results.push('expanded')
        }

        if (this.state.offcanvas) {
          results.push('expanded')
          results.push('with-offcanvas')
        }

        return results.join(' ')
      }
    }
  </script>
</favorites>