<footer class="bg-black d-flex align-items-center justify-content-end">
  <navigation />

  <script>
    import Navigation from './Navigation.riot'

    export default class {
      static components = {Navigation}
    }
  </script>
</footer>
