<image-carousel class={props.class}>
  <div class="glide-control">
    {cap(t('go_to_image'))}
    <select
      onchange={event => toSlide(event.target.value)}
      class="form-control w-auto d-inline-block mx-1"
    >
      <option
        each={(url, i) in props.imageUrls}
        value={i}
        selected={isCurrentSlide(i)}
      >{i + 1}</option>
    </select>
    {t('of')} {props.imageUrls.length}

    <br class="d-md-none" />

    <a href="#" onclick={event => fullscreen(event)} class="text-center ms-5">
      <svg is="icon" type="maximize-2"></svg>
    </a>

    <a
      href={currentImageUrl()}
      class="text-center ms-5"
      title={t('download_this_image')}
      download
    >
      <svg is="icon" type="download"></svg>
    </a>
  </div>

  <div class="glide my-4 mb-5">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li
          each={url in props.imageUrls}
          key={url}
          class="glide__slide"
        >
          <div is="zoomable-image" src={url} />
        </li>
      </ul>
    </div>

    <a
      class="prev px-3 {isFirst() && 'invisible'}"
      onclick={event => prev(event)}
    >
      <svg is="icon" type="chevrons-left"></svg>
    </a>
    <a
      class="next px-3 {isLast() && 'invisible'}"
      onclick={event => next(event)}
    >
      <svg is="icon" type="chevrons-right"></svg>
    </a>
  </div>

  <div
    if={props['caption']}
    class="caption"
  ><raw html={props['caption']} /></div>

  <script>
    import Glide from '@glidejs/glide'

    export default class {
      onMounted() {
        this.glide()
      }

      glide() {
        const element = this.root.querySelector('.glide')
        const opts = {
          type: 'slider',
          rewind: false,
          dragThreshold: false,
          peek: {before: 0, after: '250px'},
          gap: '60px',
          perView: 1,
          breakpoints: {
            1280: {
              peek: {before: 0, after: '200px'},
              gap: '40px'
            },
            768: {
              peek: {before: 0, after: '50px'},
              gap: '20px'
            }
          }
        }
        this.state.glide = new Glide(element, opts)
        this.state.glide.mount()
        this.state.glide.go(`=0`)
      }

      toSlide(index) {
        this.state.glide.go(`=${index}`)
        this.update()
      }

      currentSlide() {
        const glide = this.state.glide
        if (!glide) return null

        return glide.index
      }

      isFirst() {
        const glide = this.state.glide
        if (!glide) return true

        return glide.index == 0
      }

      isLast() {
        const total = this.props.imageUrls.length
        if (total == 1) return true

        const glide = this.state.glide
        if (!glide) return false

        return glide.index == total - 1
      }

      prev(event) {
        event.preventDefault()

        this.state.glide.go('<')
        this.update()
      }

      next(event) {
        event.preventDefault()

        this.state.glide.go('>')
        this.update()
      }

      currentImageUrl() {
        const glide = this.state.glide
        const index = (glide ? glide.index : 0)

        return this.props['imageUrls'][index]
      }

      isCurrentSlide(index) {
        const current = this.currentSlide()

        return index === current
      }

      fullscreen(event) {
        event.preventDefault()
        this.bus.emit('fullscreen-images', {urls: this.props['imageUrls']})
      }
    }
  </script>
</image-carousel>