<imprint-page>
  <div is="header" />

  <div class="page-content">
    <div class="container has-offcanvas">
      <div class="left">
        <h1 class="my-5 pe-5 pt-md-5">
          {t('imprint')}
        </h1>

        <raw html={t('imprint_text')} />
      </div>
    </div>
  </div>

  <div is="footer" />

  <script>
    import Raw from './Raw.riot'
    import Header from './Header.riot'
    import Footer from './Footer.riot'

    export default class {
      static components = {Raw, Header, Footer}
    }
  </script>
</imprint-page>
