<navigation class={props.class}>
  <small>
    <a
      href="{config['FV_STATIC_URL']}/imprint"
    >{t('imprint')} / {t('privacy')}</a>
  </small>

  <script>
    import {default as config} from '../../.env.js'

    export default class {
      onBeforeMount() {
        this.config = config
      }
    }
  </script>
</navigation>
