<offcanvas class={classes()}>
  <div class="offcanvas offcanvas-end">
    <div class="offcanvas-body">
      <a href="#" onclick={event => toggle(event)} class="text-body">
        <svg
          if={!state['open']}
          is="icon"
          type="search"
        ></svg>
        <svg
          if={state['open']}
          is="icon"
          type="x"
        ></svg>
      </a>

      <a
        if={state['open']}
        href="#"
        onclick={event => this.onExtend(event)}
        class="d-inline-block ms-2 text-body"
      >
        <svg if={!state['extended']} is="icon" type="maximize-2"></svg>
        <svg if={state['extended']} is="icon" type="minimize-2"></svg>
      </a>

      <div class="open-only mt-5">
        <div if={anyCriteria()} class="reset text-end">
          <a
            href="#"
            onclick={event => reset(event)}
          >{t('reset_all_filters')}</a>
        </div>

        <div
          is="range-control"
          if={state.data}
          from={criteria()['from']}
          to={criteria()['to']}
          min={1450}
          max={1789}
          bin-width={2}
          bins={state.data.buckets['year'].map(e => e['count'])}
          on-inputs-changed={onInput}
        />

        <div class="expander">
          <div class="row">
            <div class="col-12 col-md-7 results">
              <input
                class="form-control mt-3 mb-3 px-0 w-100"
                type="text"
                placeholder="{t('search_in_title')} …"
                onkeyup={event => onDelayedInput({terms: event.target.value})}
                value={criteria()['terms']}
              />

              <div class="d-flex justify-content-between">
                <div if={state.data} class="mb-4 text-end">
                  {state.data.total} Einträge
                </div>

                <div
                  if={state.data}
                  is="pagination"
                  page={state.data.page}
                  total={state.data.total}
                  per-page={24}
                  page-to={onInput}
                />
              </div>

              <table
                if={state.data}
                class="table table-borderless table-responsive mt-3"
              >
                <tbody>
                  <tr each={treaty in state.data.records}>
                    <td class="ps-0">
                      <watchlist-toggle doc={treaty}></watchlist-toggle>
                    </td>
                    <td class="title">
                      <a
                        onclick={event => onTreatyClick(treaty, event)}
                        class="text-black text-decoration-none"
                      >
                        <span class="fw-bolder">{treaty.dateLabel() + ' '}</span>
                        | {treaty.meta['title']}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div if={state.data} class="d-none d-md-block col-5 filters">
              <facet-filter
                criteria={criteria()}
                on-delayed-input={onDelayedInput}
                class="mb-4"
              />

              <active-facets
                params={['qstyle', 'language', 'signatory', 'location']}
                criteria={criteria()}
                label-data={{qstyle: styleLabelData()}}
                class="mb-4"
              />

              <facet
                title={t('styles')}
                param="qstyle"
                buckets={state.data.buckets['style']}
                criteria={criteria()}
                label-data={styleLabelData()}
                class="mb-4"
              />

              <facet
                title={t('languages')}
                param="language"
                buckets={state.data.buckets['language']}
                criteria={criteria()}
                class="mb-4"
              />

              <facet
                title={t('signatories')}
                param="signatory"
                buckets={state.data.buckets['signatory']}
                criteria={criteria()}
                class="mb-4"
              />

              <facet
                title={t('locations')}
                param="location"
                buckets={state.data.buckets['location']}
                criteria={criteria()}
                class="mb-4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    import {Url, UrlSearchNG, util, bus} from '@wendig/lib'

    import {default as config} from '../../.env.js'
    import * as bootstrap from 'bootstrap'
    import search from '../lib/Search.instance'
    import {navigateTo, toTreaty} from '../lib/util'

    export default class {
      onBeforeMount(props, state) {
        this.config = config

        this.on('close-offcanvas', event => this.collapse())
        this.on('open-offcanvas', event => this.expand())

        this.urlSearch = new UrlSearchNG(this)
        this.urlSearch.setup()

        search.archives().then(data => {
          this.update({archives: data})
        })
      }

      criteria() {
        return this.urlSearch.opts.getParams()
      }

      anyCriteria() {
        return Object.keys(this.criteria()).length > 0
      }

      reset(event) {
        event.preventDefault()

        this.urlSearch.onReset()
      }

      onTreatyClick(treaty, event) {
        event.preventDefault()

        toTreaty(treaty)

        this.collapse()
      }

      onMounted(props, state) {
        const e = this.root.querySelector('.offcanvas')
        state.offcanvas = new bootstrap.Offcanvas(e, {
          scroll: true,
          backdrop: 'static'
        })

        e.addEventListener('hidden.bs.offcanvas', event => {
          const scrollable = e.querySelector('.offcanvas-body')
          scrollable.scrollTop = 0
        })

        e.addEventListener('hidePrevented.bs.offcanvas', event => {
          this.toggle()
        })
      }

      onSearch() {
        const criteria = {...this.criteria(), perPage: 24}
        search.treaties(criteria).then(data => {
          this.update({data})
        })
      }

      expand() {
        this.state['open'] = true
        this.update()
        this.state.offcanvas.show()
        this.emit('offcanvas-opened')
      }

      collapse() {
        this.state['open'] = false
        this.state.offcanvas.hide()
        this.emit('offcanvas-closed')
      }

      toggle() {
        if (this.state['open']) {
          this.collapse()
        } else {
          this.expand()
        }

        this.update()
      }

      onExtend(event) {
        event.preventDefault()
        console.log('x')

        this.update({extended: !this.state['extended']})
      }

      styleLabelData() {
        return {
          facsimile: this.t('facsimile'),
          edition: this.t('edition'),
          transliteration: this.t('transliteration')
        }
      }

      classes() {
        const cs = []

        if (this.state['open']) cs.push('open')
        if (this.state['extended']) cs.push('extended')

        return cs.join(' ')
      }
    }
  </script>
</offcanvas>