<pagination >
  <template if={enabled()}>
    <!-- a
      onclick={event => pageTo(1, event)}
      href="#"
      class="first text-decoration-none dfk-sans-serif {show(!isFirst())}"
    >
      <svg is="icon" type="arrow-left" />
      <svg is="icon" type="arrow-left" />
      <span class="text">{props.firstLabel || 'first page'}</span>
    </a -->
    <a
      onclick={event => pageTo(page() - 1, event)}
      href="#"
      class="previous {show(!isFirst())}"
    >
      <svg is="icon" type="chevron-left" />
      <!-- span class="text">{props.previousLabel || 'previous page'}</span -->
    </a>
    <span class="indicator">Seite {this.props.page}/{totalPages()}</span>
    <a
      onclick={event => pageTo(page() + 1, event)}
      href="#"
      class="next {show(!isLast())}"
    >
      <!-- span class="text">{props.nextLabel || 'next page'}</span -->
      <svg is="icon" type="chevron-right" />
    </a>
    <!-- a
      onclick={event => pageTo(totalPages(), event)}
      href="#"
      class="last text-decoration-none dfk-sans-serif {show(!isLast())}"
    >
      <span class="text">{props.lastLabel || 'last page'}</span>
      <svg is="icon" type="arrow-right" />
      <svg is="icon" type="arrow-right" />
    </a -->
  </template>

  <script>
    import Icon from './Icon.riot'

    export default class {
      static components = {
        Icon
      }

      constructor() {
        this.previous = this.previous.bind(this)
        this.next = this.next.bind(this)
      }

      onBeforeMount() {
        this.on('to-previous-page', this.previous)
        this.on('to-next-page', this.next)
      }

      page() {
        const str = this.props.page
        if (!str || str === '') return 1

        return parseInt(str)
      }

      previous() {
        if (this.props.page > 1) {
          this.pageTo(this.props.page - 1)
        }
      }

      next() {
        if (this.props.page < this.totalPages()) {
          this.pageTo(this.props.page + 1)
        }
      }

      enabled() {
        const total = this.props.total || 0
        return total > this.props.perPage
      }

      pageTo(newPage, event) {
        if (event) {
          event.preventDefault()
        }

        if (this.props.pageTo) {
          this.props.pageTo({page: newPage})
        }
      }

      isFirst() {
        return this.props.page == 1
      }

      isLast() {
        return this.props.page == this.totalPages()
      }

      totalPages() {
        return Math.ceil(this.props.total / this.props.perPage)
      }

      show(value) {
        return value ? '' : 'd-none'
      }
    }
  </script>
</pagination>
