<raw>
  <script>
    import {riot} from '../lib/riot'

    export default class {
      setInnerHTML() {
        this.root.innerHTML = this.props.html

        this.mountSubComponents()
      }

      onMounted() {
        this.setInnerHTML()
      }
      
      onUpdated() {
        this.setInnerHTML()
      }

      mountSubComponents() {
        for (const e of this.root.querySelectorAll('[is]')) {
          riot.mount(e)
        }
      }
    }
  </script>
</raw>
