<style-icons class="d-flex {props.class}">
  <div
    each={style in styles()}
    class="icon d-flex justify-content-center align-items-center rounded {active(style)}"
    data-bs-toggle="popover"
    data-bs-content={t(style['type'])}
  >
    <a onclick={event => onClick(style, event)}>
      <svg is="icon" type={iconFor(style)}></svg>
    </a>
  </div>

  <script>
    import {Popover} from 'bootstrap'

    export default class {
      onBeforeMount(props, state) {
        state['style'] = props.doc.meta['styles'][0]
        state['popovers'] = []
      }

      onMounted() {
        this.setupPopovers()
      }

      setupPopovers() {
        const elements = this.root.querySelectorAll('[data-bs-toggle="popover"]')
        for (const e of elements) {
          this.state['popovers'].push(new Popover(e, {
            placement: 'left',
            offset: [0, 16],
            trigger: 'hover'
          }))
        }
      }

      onClick(style, event) {
        event.preventDefault()

        const h = this.props.onSelect
        if (!h) return

        this.state['style'] = style
        this.update()
        h(style)
      }

      styles() {
        return this.props.doc.meta['styles']
      }

      iconFor(style) {
        const mapping = {
          transliteration: 'file-text',
          edition: 'file-text',
          facsimile: 'image'
        }

        return mapping[style['type']]
      }

      active(style) {
        return this.state['style']['id'] === style['id'] ? 'active' : ''
      }
    }
  </script>
</style-icons>
