<treaty-page>
  <div is="header" />

  <favorites />

  <div class="page-content">
    <div class="container has-offcanvas">
      <h1 if={state.doc}>
        <style-icons
          doc={state.doc}
          on-select={style => loadStyle(style)}
        />

        {state.doc.title()}
      </h1>

      <div if={state.doc} class="metadata row">
        <div class="col-12 col-md-4 col-lg-3">
          <template if={state.doc.meta['id']}>
            <div class="label">ID</div>
            <div class="value">{state.doc.meta['id']}</div>
          </template>

          <div class="label">{cap(t('language'))}</div>
          <div class="value">{state.doc.languageList()}</div>

          <template if={state.doc.hasDate()}>
            <div class="label">{cap(t('date'))}</div>
            <div class="value">{state.doc.dateLabel()}</div>
          </template>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
          <div class="label">{cap(t('signatories'))}</div>
          <div class="value">
            <filter-list
              items={state.doc.meta['signatories']}
              type="signatory"
            />
          </div>
        </div>

        <div class="col-12 col-md-4 col-lg-3">
          <div class="label">{cap(t('locations'))}</div>
          <div class="value">
            <filter-list
              items={state.doc.meta['places']}
              type="location"
            />
          </div>
        </div>

        <div class="col-12 col-lg-3">
          <div class="text-lg-end">
            <div class="label">{cap(t('source'))}</div>
            <div class="value">
              <a href={state.doc.github()} target="_blank">{t('show')}</a> |
              <a href={state.doc.url()} target="_blank" download>{t('download')}</a>
              <br />
              <a
                href={state.doc.meta['legacyUrl']}
                target="_blank"
              >{cap(t('legacy_record'))}</a>
            </div>
          </div>
        </div>
      </div>

      <secondary-content
        if={state.doc}
        doc={state.doc}
        class="mb-4"
      />

      <content-loader
        if={state.doc}
        doc={state.doc}
        style={state.style}
      />
    </div>
  </div>

  <div is="footer" />

  <script>
    import search from '../lib/Search.instance'

    export default class {
      onMounted() {
        this.fetch()
      }

      reload(props) {
        this.update(props)
        this.fetch()
      }

      loadStyle(style) {
        this.state['style'] = style
        this.fetch()

        window.setTimeout(() => {
          const content = this.tags['content-loader'][0].root
          content.scrollIntoView({behavior: 'smooth', container: 'nearest'})
        }, 300)
        // this.update({style: style})
      }

      fetch() {
        const id = this.state['id'] || this.props['id']
        search.treaty({id}).then(data => {
          this.update({doc: data})
        })
      }
    }
  </script>
</treaty-page>
