<treaty-page>
  <div is="header" />

  <offcanvas />

  <div class="page-content">
    <div class="container has-offcanvas">
      <h1 if={state.doc}>{state.doc.meta['title']}</h1>

      <div if={state.doc} class="metadata row">
        <div class="col-12 col-md-3">
          <template if={state.doc.meta['id']}>
            <div class="label">ID</div>
            <div class="value">{state.doc.meta['id']}</div>
          </template>

          <template if={state.doc.meta['language']}>
            <div class="label">Sprache</div>
            <div class="value">{state.doc.meta['language']}</div>
          </template>

          <template if={state.doc.meta['dateLabel']}>
            <div class="label">Datum</div>
            <div class="value">{state.doc.meta['dateLabel']}</div>
          </template>
        </div>

        <div class="col-12 col-md-3">
          <div class="label">Vertragsstaaten</div>
          <div class="value">
            <filter-list
              items={state.doc.meta['signatories']}
              type="signatory"
            />
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="label">Orte</div>
          <div class="value">
            <filter-list
              items={state.doc.meta['places']}
              type="place"
            />
          </div>
        </div>

        <div class="col-12 col-md-3">
          <div class="text-md-end">
            <div class="label">Quelle</div>
            <div class="value">
              <a href={state.doc.github()} target="_blank">anzeigen</a> |
              <a href={state.doc.url()} target="_blank" download>herunterladen</a>
            </div>
          </div>
        </div>
      </div>

      <div class="left">
        <div class="xml" data-id="body" />
      </div>
    </div>
  </div>

  <div is="footer" />

  <script>
    import {util} from '@wendig/lib'
    import Renderer from '@ieg/qtei/src/lib/Renderer.js'
    // import {} from '@ieg/qtei/src/lib/processors.js'

    import search from '../lib/Search.instance'
    import Header from './Header.riot'
    import Footer from './Footer.riot'
    import Offcanvas from './Offcanvas.riot'
    import FilterList from './FilterList.riot'

    export default class {
      static components = {Header, Footer, Offcanvas, FilterList}

      onMounted(props, state) {
        this.fetch()
      }

      fetch() {
        const id = this.props['id']
        search.contract({id}).then(data => this.render(data))
      }

      render(data) {
        this.state.doc = data

        // const metaField = (dataId, teiSelector, attribute = null) => {
        //   return (teiDoc) => {
        //     const t = this.root.querySelector(`[data-id='${dataId}']`)

        //     const element = teiDoc.doc.querySelector(teiSelector)
        //     const value = (
        //       attribute ?
        //       element.getAttribute(attribute) :
        //       element.textContent
        //     )

        //     if (value) {
        //       t.textContent = value
        //     } else {
        //       util.parents(t, '.field').classList.add('d-none')
        //     }
        //   }
        // }

        // const xpath = (expression, doc) => {
        //   const evaluator = new XPathEvaluator()
        //   const e = evaluator.createExpression(expression)

        //   return e.evaluate(doc)
        // }

        const body = this.root.querySelector("[data-id='body']")
        // const h1 = q("[data-id='title']")
        // const date = q('')

        const renderer = new Renderer([
          // metaField('title', '*|titleStmt *|title[level=a]'),
          // metaField('date', '*|titleStmt *|title[level=a]', 'date')
          (data) => {
            body.append(data.doc.childNodes[2].querySelector('*|text'))
          }
        ])

        renderer.render(data)

        console.log(this.state.doc.meta)
        this.update()
      }
    }
  </script>
</treaty-page>
