<watchlist-toggle>
  <a
    class="mr-2"
    onclick={event => toggle(event)}
    title={isOn() ? t('remove_from_favorites') : t('add_to_favorites')}
  ><svg is="icon" type="star" class="text-primary {isOn() && 'active'}"></svg></a>

  <script>
    import watchlist from '../lib/Watchlist.instance'

    export default class {
      onBeforeMount() {
        this.on('watchlist-changed', event => this.update())
      }

      id() {
        return this.props.doc.meta['id']
      }

      isOn() {
        return watchlist.has(this.id())
      }

      toggle(event) {
        watchlist.toggle(this.id())
      }
    }
  </script>
</watchlist-toggle>
