@use 'sass:math';
@namespace tei url('http://www.tei-c.org/ns/1.0');

:root {
  --offcanvas-initial-width: 50px;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

a {
  font-weight: $font-weight-normal;
  cursor: pointer;
}

.container {
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);

  &.has-offcanvas {
    padding-right: calc(var(--bs-gutter-x) * 0.5 + var(--offcanvas-initial-width))
  }
}

.btn {
  &.btn-lg {
    height: 70px;

    div.fs-6 {
      margin-top: -4px;
    }
  }
}

svg[is='icon'] {
  width: 24px;
  height: 24px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

style-icons {
  a {
    display: inline-block;
    line-height: 0;
  }

  .icon {
    opacity: 0.3;
    width: 20px;
    height: 20px;
    background-color: $fv-highlight-2;
    margin: 3px;

    svg {
      width: 14px;
      height: 14px;
      stroke-width: 2;
      color: $white;
    }
  }

  .icon.active {
    opacity: 0.6;
  }
}

[is='zoomable-image'] {
  display: block;

  .zoomist-wrapper {
    cursor: zoom-in;
  }
}

[is='fullscreen-images'] {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10001;
  background-color: $fv-light;
  justify-content: center;
  align-items: center;

  [is='zoomable-image'] {
    height: 100%;
  }

  &.active {
    display: flex;
  }

  a.deactivate {
    position: absolute;
    top: 30px;
    right: 20px;
  }
}

watchlist-toggle {
  svg.active {
    fill: $primary;
  }
}

@include media-breakpoint-up('md') {
  :root {
    --offcanvas-initial-width: 60px;
  }

  .btn {
    font-size: 1rem;

    &.btn-lg {
      height: 55px;
      padding-top: 5px;
      padding-left: 12px;

      div.fs-6 {
        margin-top: -8px;

        small {
          font-weight: 400;
        }
      }
    }
  }

  style-icons {
    .icon {
      width: calc(20px * 1.6);
      height: calc(20px * 1.6);
      margin: 4px;

      svg {
        width: calc(14px * 1.6);
        height: calc(14px * 1.6);
        stroke-width: 1.5;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  :root {
    --offcanvas-initial-width: 100px;
  }

   h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    margin-top: 2.5em;
    margin-bottom: 1em;
  }

  .container {
    .left {
      position: relative;
      max-width: 70%;
    }
  }

  .btn {
    font-size: $h1-font-size;

    &.btn-lg {
      height: 70px;
      padding-top: 15px;
      padding-left: 20px;

      div.fs-6 {
        small {
          font-weight: 600;
        }
      }
    }
  }

  .container {
    padding-left: calc(var(--bs-gutter-x) * 0.75);
    padding-right: calc(var(--bs-gutter-x) * 0.75);
  }

  style-icons {
    .icon {
      width: calc(20px * 2);
      height: calc(20px * 2);
      margin: 10px;

      svg {
        width: calc(14px * 2);
        height: calc(14px * 2);
      }
    }
  }
}

navigation {
  display: block;

  a {
    margin-left: map-get($spacers, 3);
    margin-right: map-get($spacers, 3);
    text-decoration: none;
  }
}

[is='super-page'] {
  .btn-lg {
    width: 200px;
  }

  .europe-map {
    z-index: -1;
    position: absolute;
    opacity: 0.05;
    top: 30vh;
    width: 80vw;
    max-width: 490px;
    right: 0;
  }

  .dove {
    width: 100%;
  }

  navigation {
    text-align: center;

    a {
      color: $white;
    }
  }
}

@include media-breakpoint-up('md') {
  [is='super-page'] {
    .logo {
      position: absolute;
      width: 60px;
      top: 30px;
      right: 30px;
    }

    .btn-lg {
      width: 100%;
    }

    h1 {
      max-width: 500px;
    }

    p {
      width: 55vw;
      max-width: 500px;
    }

    .europe-map {
      position: static;
      opacity: 0.75;
      // top: 400px;
      margin-top: 100px;
      width: 25vw;
      max-width: 200px;
      right: auto;
    }

    .dove {
      opacity: 0.3;
    }

    navigation {
      position: absolute;
      right: 15px;
      bottom: 15px;

      color: $black;

      a {
        color: $black;
      }
    }
  }
}

@include media-breakpoint-up('lg') {
  [is='super-page'] {
    .logo {
      right: calc(50% + 30px);
    }

    h1 {
      font-size: 40px;
    }

    .btn-lg {
      width: 250px;
    }

    & > div {
      width: 50%;
      min-height: 100vh;
    }

    .europe-map {
      position: absolute;
      opacity: 1;
      top: 210px;
      right: -90px;
    }

    .dove {
      width: 350px;
    }

    p {
      width: 22vw;
      max-width: 500px;
    }
  }
}

[is='header'] {
  height: 80px;
  padding-left: 30px;
  font-size: 1rem;
  font-weight: 400;

  .brand {
    width: 300px;

    a {
      text-decoration: none;
      color: white;
    }
  }
}

.page-content {
  min-height: calc(100vh - 2 * 80px);
}

[is='footer'] {
  height: 80px;
  margin-top: 10vw;
  padding-right: calc(30px + var(--offcanvas-initial-width));

  .logo {
    width: 30px;
    margin-left: 30px;
  }

  navigation {
    color: $white;

    a {
      color: $white;
    }
  }
}

@include media-breakpoint-up(md) {
  [is='header'] {
    height: 120px;
    padding-left: 40px;
    font-size: 1.4rem;

    .brand {
      width: 340px;
    }
  }

  .page-content {
    min-height: calc(100vh - 2 * 120px);
  }


  [is='footer'] {
    height: 120px;
    padding-right: calc(40px + var(--offcanvas-initial-width));
    font-size: 1.2rem;

    .logo {
      width: 50px;
      margin-left: 30px;
    }
  }
}

@include media-breakpoint-up(lg) {
  [is='header'] {
    height: 200px;
    padding-left: 65px;
    font-size: 1.6rem;

    .brand {
      width: 400px;
    }
  }

  .page-content {
    min-height: calc(100vh - 2 * 120px);
  }

  [is='footer'] {
    height: 200px;
    padding-right: calc(85px + var(--offcanvas-initial-width));

    .logo {
      width: 70px;
      margin-left: 50px;
    }
  }
}

offcanvas {
  .offcanvas {
    --bs-offcanvas-transition: transform 0.3s linear;

    &.offcanvas-end {
      --bs-offcanvas-width: 320px;
      visibility: visible;
      right: var(--offcanvas-initial-width);
    }

    &.show.hiding {
      right: var(--offcanvas-initial-width);
    }

    &.showing {
      transform: translateX(var(--offcanvas-initial-width));

      .open-only {
        display: block;
      }
    }

    &.show:not(.hiding) {
      transform: translateX(var(--offcanvas-initial-width));

      .open-only {
        display: block;
      }
    }
  }

  .open-only {
    display: none;
  }

  .reset {
    margin-top: 0;
    position: absolute;
    top: 16px;
    right: 16px;
  }

  table.table {
    td {
      &.title {
        line-height: 1.2em;
        max-width: 170px;
      }
    }
  }

  style-icons {
    flex-direction: column;
    position: relative;
  }

  .offcanvas-backdrop {
    &.show {
      opacity: 0.9;
    }
  }

  svg[is='icon'][type='search'] {
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
  }

  svg[is='icon'][type='star'] {
    margin-top: -3px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
  }

  style-icons {
    .icon {
      opacity: 0.3;
      width: 20px;
      height: 20px;
      margin: 3px;

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  input.form-control {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}

@include media-breakpoint-up(md) {
  offcanvas {
    .offcanvas {
      &.offcanvas-end {
        --bs-offcanvas-width: 500px;
      }
    }

    svg[is='icon'][type='search'] {
      width: 24px;
      height: 24px;
    }

    &.open.extended {
      .offcanvas {
        z-index: 2000;

        &.offcanvas-end {
          --bs-offcanvas-width: 1024px;
        }
      }

      [is='range-control'] {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 2em;
      }

      table {
        td {
          padding: 0.25rem 0.5rem;
        }
      }

      .results {
        width: calc(100% - 300px);
      }

      .filters {
        width: 300px;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  offcanvas {
    .offcanvas {
      &.offcanvas-end {
        --bs-offcanvas-width: 600px;
      }
    }

    svg[is='icon'][type='search'] {
      width: 32px;
      height: 32px;
      margin-top: 20px;
      margin-left: 15px;
    }
  }
}

[is='start-page'] {
  .page-content {
    .europe-map {
      z-index: -1;
      opacity: 0.05;
      position: absolute;
      top: 180px;
      width: 90vw;
      right: 0;
    }
  }

  .metadata {
    & > div {
      margin-bottom: map-get($spacers, 3);

      raw {
        display: block;
      }
    }
  }

  .btn {
    height: auto;
    font-size: 18px;
    padding-bottom: 15px;
  }
}

[is='treaty-page'] {
  h1 {
    position: relative;
    width: 75%;
    margin-top: 2em;

    style-icons {
      position: absolute;
      top: 3px;
      left: -32px;
      flex-direction: column;
    }
  }

  .metadata {
    margin-top: 3em;
    margin-bottom: 2em;
    line-height: 1.2em;

    [is='icon'] {
      width: 18px;
      height: 18px;
    }

    .label {
      font-weight: 500;
    }

    .value {
      margin-bottom: 0.7em;
    }
  }

  content-renderer {
    display: block;
  }

  .xml {
    font-family: $font-family-serif;
    position: relative;
    margin: 0 auto;
    font-size: 16px;

    h2 {
      font-family: $font-family-sans-serif;
    }

    lb {
      display: block;
    }

    p {
      display: block;
      margin-bottom: 1em;
    }

    .note-widget {
      display: none;

      & > .bar {
        position: absolute;
        left: 0;
        right: -75px;
        background-color: $primary;
        height: 1px;
      }

      & > .content {
        position: absolute;
        max-height: calc(100% - 220px);
        overflow-y: scroll;
        left: calc(100% + 75px);
        // top: auto;
        // bottom: 100px;
        // margin-bottom: 100px;
        transform: translateY(max(-50%, -2em));
        width: 200px;
        border-left: 1px solid $primary;
        padding-left: 0.5em;

        font-family: barlow;
        font-size: 14px;
        background-color: $white;
      }
    }

    a.ref {
      color: $fv-highlight;
      text-decoration: none;
    }

    .footnotes {
      margin-top: 5em;

      .foot-note {
        margin-top: 2em;

        .backlink {
          color: $fv-highlight;
          text-decoration: none;
          margin-right: 0.5em;
        }
      }
    }
  }

  .ratio {
    & > a {
      left: auto;
      right: -28px;
      width: auto;
      height: auto;

      svg {
        width: 16px;
      }
    }
  }

  .caption {
    margin-top: -2.5em;
  }

  // svg[type='book-open'] {
  //   width: 100%;
  //   height: 100%;
  //   stroke-width: 0.2px;
  // }
}

.glide {
  .prev {
    position: absolute;
    top: 0;
    left: -50px;
  }

  .next {
    position: absolute;
    top: 0;
    right: -50px;
  }
}

@include media-breakpoint-up(md) {
  [is='treaty-page'] {
    h1 {
      style-icons {
        top: 2px;
        left: -50px;
      }
    }

    .xml {
      font-size: 20px;
    }
  }

  .glide {
    svg {
      width: 30px;
      height: 30px;
    }

    .prev {
      top: 10px;
      left: -65px;
    }

    .next {
      top: 10px;
      right: -65px;
    }
  }
}

@include media-breakpoint-up(lg) {
  [is='treaty-page'] {
    h1 {
      style-icons {
        top: 2px;
        left: -72px;
      }
    }

    .xml {
      .note-widget {
        display: inline-block;
      }
    }
  }
}

[is='range-control'] {
  display: flex;
  flex-direction: column;
  width: 100%;

  .graph {
    flex-grow: 1;
    overflow: clip;
    overflow-x: visible;

    width: 100%;

    svg {
      display: block;
      width: 100%;
      height: 100%;
      overflow: visible;

      rect {
        transition:
          height 0.5s ease-out,
          y 0.5s ease-out;
      }

      circle {
        cursor: pointer;
      }

      g.controls {
        fill: $primary;
      }

      g.bins {
        fill: #aaaaaa;

        rect.active {
          fill: $primary;
        }
      }
    }
  }

  .literals {
    display: flex;
    justify-content: space-between;
    font-size: 16px;

    .inputs {
      input {
        max-width: 40px;
        appearance: textfield;
        text-decoration: underline;
        text-decoration-color: $fv-highlight-2;
        text-underline-offset: 10px;

        border-bottom-width: 0;
      }
    }
  }
}

facet {
  display: block;
}

facet-filter {
  display: block;
}

active-facets {
  display: block;
}

secondary-content {
  display: block;
  cursor: pointer;

  transition:
    background-color 0.2s linear,
    padding 0.2s linear,
    margin 0.2s linear;

  .line {
    border-top: 1px solid $fv-less-light;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0.5em;
    transition: border-color 0.2s linear;
  }

  &.open {
    cursor: unset;
    background-color: #FAF6FC;
    padding: map-get($spacers, 6);
    margin: 0 calc(map-get($spacers, 6) * -1);

    .line {
      border-top-color: transparent;
    }

    .buttons {
      color: $fv-highlight;
    }
  }

  image-carousel {
    display: block;

    .prev {
      left: -57px;
    }

    .next {
      right: -57px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  secondary-content {
    &.open {
      .header {
        margin-bottom: map-get($spacers, 5);
      }
    }
  }
}

image-carousel {
  display: block;
}


// TableOfContents

[is='table-of-contents'] {
  margin-bottom: 2em;

  .header {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
}

@include media-breakpoint-up(lg) {
  [is='table-of-contents'] {
    position: sticky;
    top: 50px;
    margin-top: 50px;
  }
}